<div class="grid grid-cols-1 gap-y-32">
  <!-- BANNER -->
  <div class="flex gap-x-5 h-[560px]">
    <div class="flex-1 bg-red-200 rounded-xl overflow-hidden relative">
      <swiper-container
        mousewheel-force-to-axis="true"
        navigation="true"
        pagination="true"
      >
        <ng-container *ngFor="let item of covers1">
          <swiper-slide>
            <div
              [ngStyle]="{'background-image': 'url(' + item + ')'}"
              class="aspect-video bg-cover bg-center"
            >
            </div>
          </swiper-slide>
        </ng-container>
      </swiper-container>
      <div class="absolute bottom-40 left-20 flex gap-x-4 z-10">
        <button
          pButton
          pRipple
          class="button bg-primary-blue"
        >
          <span class="mr-3">Get the deal</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
          </svg>
        </button>
        <button
          pButton
          pRipple
          class="button button-gray-outline"
        >
          <span class="mr-3">See other promos</span>
        </button>
      </div>
    </div>
    <div class="aspect-3/4 rounded-xl overflow-hidden" >
      <swiper-container
        mousewheel-force-to-axis="true"
        pagination="true"
      >
        <ng-container *ngFor="let item of booksTrend">
          <swiper-slide>
            <div class="h-full aspect-3/4 relative">
              <div
                [ngStyle]="{'background-image': 'url(' + item + ')'}"
                class="bg-cover bg-center card-blur h-full"
              >
              </div>
              <div class="absolute z-10 top-1/2 left-1/2 -translate-x-[50%] -translate-y-[50%] text-center">
                <p class="font-bold text-white text-4xl ">Best Seller</p>
                <p class="text-white mt-2 mb-5">Based sales this week</p>
                <img
                  [src]="item"
                  class="w-full aspect-3/4 object-cover rounded-xl border-2 border-solid border-white"
                  alt=""
                >
                <p class="font-semibold text-white mt-3">Pushing Clouds</p>
                <p class="text-white mt-3 uppercase">advanture, science, comedy</p>
                <button
                  pButton
                  pRipple
                  class="button bg-white text-neutral-800 font-bold mx-auto mt-4"
                >
                  <span class="mr-3">USD 45.25</span>
                </button>
              </div>
            </div>
          </swiper-slide>
        </ng-container>
      </swiper-container>
      <div class="absolute bottom-40 left-20 flex gap-x-4 z-10">
      </div>
    </div>
  </div>
  <div>
    <app-about-me></app-about-me>
  </div>
  <div class="grid grid-cols-2 gap-x-6">
    <ng-container *ngFor="let i of [1,2]">
      <div class="banner rounded-2xl p-16 relative">
        <p class="font-bold text-5xl text-white">Recommend For You</p>
        <p class="text-white mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti rerum perferendis hic consequatur tenetur nemo?</p>
        <div class="grid grid-cols-4 gap-x-6 mt-5">
          <ng-container *ngFor="let j of booksTrend" >
            <div
              class="aspect-3/4 rounded-xl border-2 border-solid border-white bg-cover bg-center hover:-translate-y-2 duration-300 hover:scale-110"
              [ngStyle]="{'background-image': 'url(' + j + ')'}"
            ></div>
          </ng-container>
        </div>
        <button
          class="w-fit aspect-square p-4 rounded-full center shadow-2xl animate-bounce absolute right-10 bottom-20"
        >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-primary-blue">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
          </svg>
        </button>
      </div>
    </ng-container>
  </div>
  <div>
    <div class="title w-1/2 mx-auto">
      <p class="title-head">Special Offers</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt fugiat atque consequuntur maiores sint pariatur. Fuga natus officiis a quidem?</p>
    </div>
    <div class="grid grid-cols-3 gap-x-20 mt-10">
      <ng-container *ngFor="let i of specialOffer">
        <div class="group rounded-xl overflow-hidden hover:scale-105 hover:shadow-#1 duration-300 cursor-pointer">
          <div
            class="aspect-video bg-cover bg-center"
            [ngStyle]="{'background-image': 'url(' + i?.cover + ')'}"
          ></div>
          <div class="group-hover:border-0 border-2 border-gray border-solid rounded-br-xl rounded-bl-xl border-t-0 p-4">
            <p class="font-bold text-xl">{{i?.title}}</p>
            <div class="mt-3 flex gap-x-3">
              <span *ngFor="let j of i?.tags" class="uppercase py-1 px-3 rounded-full bg-purple-light text-purple text-sm">{{j}}</span>
            </div>
            <p class="mt-3">{{i?.description}}</p>
            <p class="font-bold my-5">{{i?.author}}</p>
            <div class="flex justify-between item-end mt-4">
              <button class="button-primary button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                </svg>
                <span class="ml-2">Add to cart</span>
              </button>
              <div class="flex gap-x-5 items-center">
                <p class="font-extrabold text-2xl">${{i?.discountPrice}}</p>
                <p class="text-neutral-500 font-medium line-through">${{i?.price}}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-container>
    <div class="title w-1/2 mx-auto">
      <p class="title-head">Flash Sales</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt fugiat atque consequuntur maiores sint pariatur. Fuga natus officiis a quidem?</p>
    </div>
    <div class="box-border">
      <div class="grid grid-cols-5 gap-x-10 h-[500px]">
        <ng-container *ngFor="let i of salesFilm">
          <app-book-card
            [infoFilm]="i"
          >
          </app-book-card>
        </ng-container>
      </div>
      <!-- <p-paginator [first]="0" [rows]="10" [totalRecords]="120"></p-paginator> -->
      <app-paginator-ui></app-paginator-ui>
    </div>
  </ng-container>
</div>
