<div class="w-full relative">
  <img
    src="assets/icons/default/ic-calendar-outline.svg"
    class="w-6 absolute right-2 z-30 top-1/2 translate-y-[-50%]"
    alt=""
  />
  <p-calendar
    styleClass="w-full"
    [dateFormat]="dateFormat"
    [showIcon]="false"
    [selectionMode]="dateMode"
    [showButtonBar]="showButtonBar"
    [placeholder]="placeholder"
    [inline]="inline"
    [(ngModel)]="dateValue"
    [showTime]="showTime"
    [hourFormat]="hourFormat"
    [minDate]="minDateValue"
    [maxDate]="maxDateValue"
    [readonlyInput]="readonlyInput"
    [showButtonBar]="showButtonBar"
    [showTransitionOptions]="'100ms'"
    [hideTransitionOptions]="'100ms'"
    [autoZIndex]="true"
    [baseZIndex]="1000"
    [touchUI]="touchUI"
    (onSelect)="onDateSelect($event)"
    (onBlur)="onDateBlur($event)"
    (onTodayClick)="onDateTodayClick($event)"

  >
    <ng-template pTemplate="footer">
      <!-- <div class="p-2">

      </div> -->
    </ng-template>
  </p-calendar>
</div>
