<p-card [formGroup]="searchForm">
  <div class="grid grid-cols-4 gap-3">
    <ng-container *ngFor="let item of filterKeys">
      <ng-container
        [ngTemplateOutlet]="filterTpl"
        [ngTemplateOutletContext]="{ item: item }"
      ></ng-container>
    </ng-container>
  </div>
  <div class="w-full flex gap-x-3 justify-end mt-5">
    <button
      pButton
      (click)="submit()"
    >
      Tìm kiếm
    </button>
    <button
      pButton
      class="p-button-danger"
    >
      Khôi phục
    </button>
  </div>

  <ng-template
    #filterTpl
    let-item="item"
  >
    <ng-container [ngSwitch]="item?.type">
      <div *ngSwitchCase="InputType.Input">
        <label>{{ item?.label }}</label>
        <div class="input-icon-left">
          <img
            [src]="item?.icon"
            alt=""
          />
          <input
            type="text"
            class="w-full"
            [ngClass]="item?.icon ? 'pl-10' : ''"
            [placeholder]="item?.placeholder"
            [formControlName]="item?.controlName"
            pInputText
          />
        </div>
      </div>

      <div *ngSwitchCase="InputType.InputNumber">
        <label>{{ item?.label }}</label>
        <div class="input-icon-left">
          <img
            [src]="item?.icon"
            alt=""
          />
          <p-inputNumber
            type="text"
            class="w-full"
            [suffix]="item?.suffix"
            [prefix]="item?.prefix"
            [placeholder]="item?.placeholder"
            [formControlName]="item?.controlName"
          ></p-inputNumber>
        </div>
      </div>

      <div *ngSwitchCase="InputType.Select">
        <label>{{ item?.label }}</label>
        <app-dropdown-ui
          [dataList]="item?.dataList"
          [formControlName]="item?.controlName"
        ></app-dropdown-ui>
      </div>

      <div *ngSwitchCase="InputType.DatePicker">
        <label>{{item?.label}}</label>
        <app-date-ui
          [placeholder]="item?.placeholder"
          [formControlName]="item?.controlName"
        ></app-date-ui>
      </div>
    </ng-container>
  </ng-template>
</p-card>
