<div
  class="flex flex-col gap-y-3"
  [formGroup]="formBook"
>
  <div class="grid grid-cols-2 gap-3">
    <div class="col-span-2">
      <label
        for=""
        class="w-full"
      >
        Tiêu đề
      </label>
      <input
        type="text"
        pInputText
        formControlName="title"
        placeholder="Nhập tiêu đề"
      />
    </div>
    <ng-container>
      <div
        *ngIf="formBook?.invalid && this.formBook.controls['title']?.touched"
        class="error-text"
      >
        <p *ngIf="this.formBook.controls['title']?.hasError('required')">
          Vui lòng nhập tiêu đề sách
        </p>
      </div>
    </ng-container>
    <div class="col-span-2">
      <label
        for=""
        class="w-full"
      >
        Tác giả
      </label>
      <input
        type="text"
        pInputText
        formControlName="author"
        placeholder="Nhập tác giả"
      />
    </div>
    <!-- <ng-container>
      <div
        *ngIf="formBook?.invalid && this.formBook.controls['author']?.touched"
        class="error-text"
      >
        <p *ngIf="this.formBook.controls['author']?.hasError('required')">
          Vui lòng nhập tên tác giả
        </p>
      </div>
    </ng-container> -->
    <div class="">
      <label for="">Danh mục</label>
      <app-dropdown-ui formControlName="categoryId"
      [dataList]="categoryList"
       placeholder="Chọn danh mục"></app-dropdown-ui>
    </div>
    <!-- <ng-container>
      <div
        *ngIf="formBook?.invalid && this.formBook.controls['categoryId']?.touched"
        class="error-text"
      >
        <p *ngIf="this.formBook.controls['categoryId']?.hasError('required')">
          Vui lòng nhập danh mục
        </p>
      </div>
    </ng-container> -->
    <div class="">
      <label for="">Nhà xuất bản</label>
      <input
        type="text"
        pInputText
        formControlName="publisher"
        placeholder="Nhập nhà xuất bản"
      />
    </div>
    <div class="">
      <label for="">Ngày xuất bản</label>
      <app-date-ui formControlName="publishDate"
      placeholder="Chọn ngày xuất bản"></app-date-ui>
    </div>
    <div class="">
      <label for="">Số trang</label>
      <input
      formControlName="numberOfPage"
        appNumberOnly
        placeholder="Nhập số trang"
        type="text"
        pInputText
      />
    </div>
    <div class="">
      <label for="">Giá</label>
      <input
      formControlName="price"
      appNumberOnly
        placeholder="Nhập giá"
        pInputText
      />
      <ng-container>
        <div
          *ngIf="formBook?.invalid && this.formBook.controls['author']?.touched"
          class="error-text"
        >
          <p *ngIf="this.formBook.controls['author']?.hasError('required')">
            Vui lòng nhập tên tác giả
          </p>
        </div>
      </ng-container>
    </div>
    <div class="">
      <label for="">Số lượng</label>
      <input
      formControlName="quantity"
      appNumberOnly
        placeholder="Nhập số lượng"
        pInputText
      />
    </div>
    <div>
      <label
        for=""
        class="w-full"
      >
        Ảnh thu nhỏ (Thumbnail)
      </label>
      <div class="mt-2">
        <app-base-upload
          [chooseLabel]="'Chọn ảnh Thumbnail'" [fileLimit]="1"
          (filesUpload)="onUploadFile('thumbnail', $event)"
          [autoUpload]="true"
        ></app-base-upload>
      </div>
    </div>
    <div>
      <label
        for=""
        class="w-full"
      >
        Ảnh bìa
      </label>
      <div class="mt-2">
        <app-base-upload
          [chooseLabel]="'Chọn ảnh bìa'"
          [fileLimit]="1"
          (filesUpload)="onUploadFile('cover', $event)"
          [autoUpload]="true"
        ></app-base-upload>
      </div>
    </div>
  </div>

  <!-- <p-divider></p-divider> -->

  <p-divider></p-divider>
  <div>
    <label
      for=""
      class="w-full"
    >
      Ảnh xem trước
    </label>
    <div class="mt-2">
      <app-base-upload [chooseLabel]="'Chọn ảnh xem trước'"
      (filesUpload)="onUploadFile('preview', $event)"
      [autoUpload]="true"
      ></app-base-upload>
    </div>
  </div>
  <!-- footer -->
  <div class="flex gap-x-3 justify-end">
    <button
      pButton
      class="p-button p-button-secondary"
      (click)="closeModal()"
    >
      Đóng
    </button>
    <button (click)="submit()"
      class="w-32"
      pButton
    >Lưu</button>
  </div>
</div>
