<div
  class="grid grid-cols-4 gap-x-10"
  [formGroup]="productsForm"
>
  <div class="bg-red-2000 grid content-start gap-y-3">
    <p class="font-bold text-2xl mb-3">Bộ lọc tìm kiếm</p>
    <p-accordion>
      <p-accordionTab
        header="Danh mục"
        [selected]="true"
      >
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-x-2 gap-y-6">
          <div
            class="flex items-center gap-x-2"
            *ngFor="let category of categories"
          >
            <p-checkbox
            [(ngModel)]="selectedValues"
            [ngModelOptions]="{standalone: true}"
              name="group"
              value="{{category.id}}"
              (onChange)="onCheckedItem()"
            ></p-checkbox>
            <label
              for=""
              style="margin: 0 !important"
            >
              {{category.name}}
            </label>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>

    <p-accordion>
      <p-accordionTab header="Khoảng giá">
        <p-slider
          [animate]="true"
          [step]="1000"
          [min]="DefaultValue.MinPrice"
          [max]="DefaultValue.MaxPrice"
          formControlName="priceRange"
          [range]="true"
        ></p-slider>
        <div class="flex justify-between font-medium text-sm my-3">
          <p>{{ priceRangeControl?.value[0] | number }}</p>
          <p>{{ priceRangeControl?.value[1] | number }}</p>
        </div>
        <p class="text-sm">
          Đơn vị:
          <span class="text-purple font-bold">VNĐ</span>
        </p>
      </p-accordionTab>
    </p-accordion>
    <button
      pButton
      class="p-button p-button-rounded w-full"
      (click)="filterByRange()"
    >
      Áp dụng
    </button>
    <button
      pButton
      class="p-button p-button-rounded p-button-danger w-full"
    >
      Xóa tất cả
    </button>
  </div>
  <div class="col-span-3 grid content-start gap-y-3">
    <p class="font-bold text-2xl mb-3">Sách</p>
    <div class="flex gap-x-5">
      <div class="card-border-gray w-full">
        <div></div>
        <div>
          <!-- <img
            src="assets/icons/default/ic-justify.svg"
            class="w-3"
            alt=""
          /> -->
        </div>
      </div>
      <app-dropdown-ui
        placeholder="Sắp xếp theo"
        styleClass="w-[150px]"
        [dataList]="sortList"
      ></app-dropdown-ui>
    </div>

    <div class="grid grid-cols-4 gap-8">
      <ng-container *ngIf="(dataBooks && dataBooks.length > 0); then dataBooksTpl else NotDataBook"></ng-container>
      <ng-template #dataBooksTpl>
        <ng-container *ngFor="let product of dataBooks">
          <app-book-card
            [infoFilm]="product"
          ></app-book-card>
        </ng-container>
      </ng-template>
      <ng-template #NotDataBook>
        <!-- <ng-container *ngFor="let product of [1,2,3,4]">
          <app-book-card
            [skeleton]="true"
          ></app-book-card>
        </ng-container> -->
        <div class="items-center">
          <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/search/a60759ad1dabe909c46a817ecbf71878.png" alt="">
      </div>
      <div class="blank-txt text-center">
        Không tìm thấy kết quả nào
      </div>
      </ng-template>
    </div>
    <app-paginator-ui
      *ngIf="dataBooks?.length"
      [rows]="12"
      [rowsPerPageOptions]="[]"
    ></app-paginator-ui>
  </div>
</div>
