<!-- <p-chart id="pie" type="pie" [data]="userData" [responsive]="true" [width]="'150'" [height]="'150'" [options]="options">
</p-chart> -->

<br>
<div class="center col-span-3" [formGroup]="form">
    <label for="">Chọn loại thống kê</label>
<app-dropdown-ui
      [dataList]="types"
      formControlName="type"
      placeholder="Chọn thời gian"
    ></app-dropdown-ui>
</div>
<p-chart class="center" type="bar" [data]="orderData" [responsive]="false" [width]="'500'" [height]="'300'"></p-chart>
<br/>
<br/>
<br/>

<div class="center col-span-3" [formGroup]="form">
    <!-- <label for="">Chọn loại thống kê</label>
<app-dropdown-ui
      [dataList]="types"
      formControlName="type"
      placeholder="Chọn thời gian"
    ></app-dropdown-ui>
</div> -->
<p-chart class="center" type="bar" [data]="revenueData" [responsive]="false" [width]="'500'" [height]="'300'"></p-chart>
    