<div class="select-none">
  <router-outlet></router-outlet>
  <p-toast
    position="bottom-center"
    key="bc"
  ></p-toast>
  <!-- <p-toast
    position="bottom-center"
    key="confirm"
    (onClose)="onReject()"
    [showTransformOptions]="'translateY(-100%)'"
    [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'500ms'"
    [showTransformOptions]="'translateY(100%)'"
    [baseZIndex]="5000"
  >
    <ng-template
      let-message
      pTemplate="message"
    >
      <div class="w-full">
        <div class="text-center flex flex-col gap-y-1">
          <i
            class="pi pi-check-circle"
            style="font-size: 3rem"
          ></i>
          <p class="font-semibold text-lg">{{ message.summary }}</p>
          <p>{{ message.detail }}</p>
          <div class="text-center">
            <p-button
              type="button"
              label="Làm mới"
              severity="success"
              (click)="acceptReload()"
            ></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-toast> -->
  <p-toast
    key="system"
  ></p-toast>
</div>
