<div class="flex flex-col gap-y-3">
    <div class="flex justify-between items-center py-2">
      <app-page-header title="Quản lý danh mục sách"></app-page-header>
    </div>
    <app-table-ui
      headerTable="Danh sách đơn hàng"
      [titleTable]="titleTable"
      [showAction]="true"
      [checkbox]="false"
      [radio]="false"
      [dataTable]="dataTable"
      [total]="total"
      (refreshData)="refreshData()"
    >
      <ng-template
        #tableBody
        let-item="item"
      >
        <td>{{ item?.orderId }}</td>
        <td><img [src]="item?.item[0]?.urlThumbnail">{{item?.item[0]?.title}} </td>
        <td>{{ item?.total }}</td>
      </ng-template>
      <ng-template #tableAction let-item="item">
        <ng-container>
          <button
            class="p-button p-button-outlined p-button-secondary button-table"
            (click)="view(item)"
          >
            <img
              src="assets/icons/default/ic-eye.svg"
              alt=""
            />
          </button>
          <button
            class="p-button p-button-outlined p-button-secondary button-table"
            (click)="update(item)"
          >
            <img
              src="assets/icons/default/ic-edit-pencil.svg"
              alt=""
            />
          </button>
        </ng-container>
      </ng-template>
    </app-table-ui>
  </div>
  