<div
  class="h-screen box-border p-3 relative duration-500 overflow-scroll"
  [ngClass]="isExpand ? 'w-[300px]' : 'w-[70px]'"
>
  <div class="w-full text-center flex items-center h-[70px]">
    <div *ngIf="isExpand" class="flex gap-x-2 font-kanit">
      <span class=" text-4xl ml-1 text-purple">eFinBooks</span>
      <span class="text-xs font-medium">{{roleTitle}}</span>
    </div>
  </div>
  <div class="mt-5 ">
    <div
      *ngFor="let item of menuList"
      class="border-t border-solid border-purple-light mt-8 pt-6"
    >
      <div class="h-[31.5px]">
        <p
          *ngIf="isExpand"
          class="font-medium text-lg mb-2 slide-in-blurred-left"
        >
          {{ item?.label }}
        </p>
      </div>
      <ng-container *ngFor="let i of item?.children">
        <div
          class="group flex items-center hover:bg-gray px-2 h-[40px] rounded-lg cursor-pointer mt-1 overflow-hidden duration-300"
          routerLink="{{ i?.route }}"
          routerLinkActive="bg-purple-light font-semibold"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img
            [src]="'assets/icons/default/' + i?.icon"
            class="w-5"
            alt=""
          />
          <p
            *ngIf="isExpand"
            class="ml-3 slide-in-blurred-right"
          >
            {{ i?.title }}
          </p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="absolute p-3 bottom-0 left-0 font-medium bg-white w-[300px]">
  <button
    class="mb-3 w-10 aspect-square rounded-xl center hover:bg-purple-light cursor-pointer duration-400"
    (click)="expand()"
  >
    <img
      src="assets/icons/default/ic-chevron-back-outline.svg"
      class="duration-400"
      [ngClass]="isExpand ? '' : 'rotate-180'"
      alt=""
    />
  </button>
  <div class="flex items-center gap-x-3 w-[max-content] text-sm font-medium hover:text-purple duration-300" (click)="logout()">
    <img
      src="assets/icons/default/ic-logout.svg"
      class="w-6"
      alt=""
    />
    <span *ngIf="isExpand" class="">Đăng xuất</span>
  </div>
</div>