<div class="flex flex-col">
    <app-table-ui
      headerTable="Danh sách đơn hàng"
      [titleTable]="titleTable"
      [showAction]="false"
      [checkbox]="false"
      [radio]="false"
      [dataTable]="dataTable"
      [total]="total"
      (refreshData)="refreshData()"
    >
      <ng-template
        #tableBody
        let-item="item" (click)="view(item)"
      >
        <td>{{ item?.orderId }}</td>
        <td><img [src]="item[0]?.urlThumbnail">{{item[0]?.title}} </td>
        <td>{{ item?.total  | number}}</td>
      </ng-template>
    </app-table-ui>
  </div>
  