<!-- <div class="flex w-fit gap-10">
<div class="mt-10 flex-1">
    <span class="font-bold text-purple text-3xl">Tra cứu đơn hàng</span>
    <div class="space-y-6 mt-5">
<div [formGroup]="form">
    <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Mã đơn hàng</label>
    <div class="mt-1 input-icon-left">
      <input
        pInputText
        maxlength="20"
        id="username"
        name="username"
        type="username"
        required appNonSpace
        placeholder="Nhập mã đơn hàng"
        formControlName="orderId"
        class="w-full pl-10 duration-400"
      />
    </div>
    <ng-container>
      <div *ngIf="form?.invalid && form.controls['orderId']?.touched" class="error-text">
        <p *ngIf="form.controls['orderId']?.hasError('required')">
          Vui lòng nhập mã đơn hàng
        </p>
      </div>
    </ng-container>
  </div>
  <div>
    <button
      type="submit"
      class="button button-primary w-full"
      (click)="submit()"
    >
      Tra cứu
    </button>
  </div>
  </div>
  </div>
</div> -->

<div class="bg-red-1000 grid content-start gap-y-8" [formGroup]="form">
  <app-breadcrumb-ui
    [items]="breadcrumb"
    [title]="'Tra cứu đơn hàng'"
  ></app-breadcrumb-ui>
  <div class="flex gap-x-32">
    <div
      class="group relative border border-solid border-gray p-10 rounded-3xl bg-white grid grid-cols-1 content-center gap-y-4 hover:shadow-#1 duration-300"
    >
      <img
        src="assets/images/Saly-25.png"
        class="w-[150px] absolute -top-[20%] -right-10 group-hover:-rotate-3 group-hover:scale-110 duration-500"
        alt=""
      />
      <p class="flex items-center gap-x-6">
        <span class="font-bold text-[60px]">2</span>
        <span class="font-semibold text-lg text-neutral-600">
          Delivery today
        </span>
      </p>
      <p class="text-neutral-500 text-lg">
        The delivery of your parcel is estimated at
        <span class="font-semibold text-neutral-600">10:30 AM to 11:00 AM</span>
        . Not going to be home ?
      </p>
      <div class="flex gap-x-4">
        <button
          type="submit"
          pButton
          class="p-button-rounded w-fit"
        >
          Reschedule
        </button>
        <button
          type="submit"
          pButton
          class="p-button-outlined p-button-rounded w-fit"
        >
          Manage Preferences
        </button>
      </div>
    </div>
    <div
      class="group relative border border-solid border-gray p-10 rounded-3xl bg-white grid grid-cols-1 content-center gap-y-4 hover:shadow-#1 duration-300"
    >
      <img
        src="assets/images/rocket.png"
        class="w-[150px] absolute -top-[25%] -right-10 group-hover:rotate-3 group-hover:scale-110 duration-500"
        alt=""
      />
      <p class="text-purple font-bold text-3xl">
        Enter your parcel number to track your deliveries
      </p>

      <div class="flex gap-x-4">
        <input
          type="text"
          formControlName="orderId"
          pInputText
          placeholder="Nhập mã vận đơn..."
          style="border-radius: 50px !important"
        />
        <button
          type="submit"
          pButton
          (click)="submit()"
          class="p-button-rounded w-[200px]"
        >
          Submit
        </button>
      </div>
      <ng-container>
        <div *ngIf="form?.invalid && form.controls['orderId']?.touched" class="error-text">
          <p *ngIf="form.controls['orderId']?.hasError('required')">
            Vui lòng nhập mã đơn hàng
          </p>
        </div>
      </ng-container>
    </div>
  </div>
  <div *ngIf="tracking$ | async as tracking">
    <p class="text-2xl font-bold text-purple mb-2">Thông tin đơn hàng</p>
    <table class="custom-table-default">
      <tr>
        <th>Mã đơn hàng</th>
        <td>{{tracking.orderId || '-'}}</td>
      </tr>
      <!-- <tr>
        <th>Ngày lấy dự kiến</th>
        <td>{{tracking.}}</td>
      </tr>
      <tr>
        <th>Ngày giao dự kiến</th>
        <td>-</td>
      </tr> -->
      <tr>
        <th>Trạng thái đơn hàng</th>
        <td>{{tracking.status | status}}</td>
      </tr>
      <tr>
        <th>Tổng giá trị</th>
        <td>{{tracking.total | price}}</td>
      </tr>
      <tr>
        <th>Hình thức thanh toán</th>
        <td>{{tracking.paymentProvider}}</td>
      </tr>
      <tr>
        <th>Trạng thái thanh toán</th>
        <td>{{tracking.status | paymentStatus}}</td>
      </tr>
    </table>
  </div>
</div>
